.dairy {
    background-color: aqua;
    color: rgb(20, 91, 91);
}


.cleaning {
    background-color: rgb(151, 219, 241);
    color: black;
}

.electronics {
    background-color: orange;
    color: blue;
}

.fleshy {
    background-color: red;
    color: black;
}

.deli {
    background-color: yellow;
    color: black;
}